body {
    background-color:AliceBlue;
    font-family:serif;
}
p{
    font-size:25px;
}
li{
    font-size:18px;
}    
ol{
    list-style-type:upper-roman;
}
.list{
    background-color: darkkhaki;
    margin: 0 10px;
}
.ewa img{
    width: 500px;
    height: 300px;
    
    
}
.ima{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 30px;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pros{
    background-color:khaki;
    margin: 0 10px;
}
.para{
    font-style:none;
    color:red;
}
a{
    text-decoration:none;
    border:2px solid darkkhaki;
    
    background-color: coral;
}
#rem{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}
a:hover{
    box-shadow: 5px;

}